@{
    ViewData["Title"] = "Results";
    @model CsEvaluator.Data.ViewModels.ResultViewModel
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />

<div class="container">
    <p>Student: @Model.StudentName</p>
    <p>Subject: @Model.SubjectName</p>
    <p>Homework: @Model.HomeworkName</p>
    <p>Homework description: @Model.HomeworkDescription</p>
    <p>Overall Evaluation result: @Model.Evaluation.EvaluationResult</p>

    <hr />
    <h4> Functional analysis results </h4>
    <p> Evaluation Result: @Model.Evaluation.FunctionalEvaluation.EvaluationResult </p>

    <p> Total tests run: @Model.Evaluation.FunctionalEvaluation.Total </p>
    <p> Passed tests: @Model.Evaluation.FunctionalEvaluation.Passed </p>
    <p> Failed tests: @Model.Evaluation.FunctionalEvaluation.Failed </p>

    <hr />
    <h4> Static analysis results </h4>
    <p> Evaluation Result: @Model.Evaluation.StaticEvaluation.EvaluationResult </p>
    <br />

    @if (string.IsNullOrWhiteSpace(Model.Evaluation.Error))
    {
        @foreach (var ruleEvaluation in Model.Evaluation.StaticEvaluation.RulesEvaluation)
        {
            <p> Rule name: <b>@ruleEvaluation.RuleInfo.Description</b></p>

            <p> Evaluation result: <b>@ruleEvaluation.HasPassed</b></p>

            <p> Additional information: <b>@ruleEvaluation.Reason</b></p>
            <hr />
        }
    }

    else
    {
        <p>Errors: <b>@Model.Evaluation.Error</b></p>
    }
</div>
